.projects {
  padding: calc(var(--header-height) + 30px) clamp(5px, 3vw, 40px) 0;
  font-size: 5rem;
  color: var(--font);
  background-color: var(--secondary-blue-background);
  height: 100vh;
  box-sizing: border-box;

  .section {
    font-size: clamp(0.3em, 5vw, 0.4em);
    margin: 0 0 60px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto 0;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 10px 0;
    // width: 100%;

    .project {
      position: relative;
      width: 100%;
      max-width: 410px;
      border-radius: 5px;
      background-color: var(--primary-blue-background);
      height: 300px;
      transition: 0.5s;
      display: flex;
      justify-items: center;
      align-items: flex-start;

      .imgBx {
        position: absolute;
        top: 20px;
        width: 90%;
        max-width: 365px;
        height: 220px;
        transition: 0.5s;
        margin-left: 5%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .showDetails {
        position: absolute;
        top: 250px;
        width: 100%;
        height: clamp(40px, 5vw, 50px);
        padding: 0 10px;
        transition: 0.5s;
        overflow: hidden;

        .projectTitle {
          text-align: center;
          font-size: clamp(0.3em, 5vw, 0.4em);
          color: var(--orange);
        }
        .projectDescription {
          font-size: clamp(0.1em, 5vw, 1.2rem);
          margin-bottom: 15px;
        }

        h4 {
          font-size: clamp(0.9rem, 5vw, 1.1rem);
          color: var(--font);
          text-decoration: underline;
        }
        ul {
          height: fit-content;
          display: flex;
          flex-wrap: wrap;
          font-size: 1rem;

          li {
            list-style: none;
            display: inline;
            font-size: 1rem;
            color: var(--font);
            margin: 3px;
            border: 1px solid var(--secondary-blue-background);
            width: fit-content;
            padding: 3px 5px;
            border-radius: 5px;
          }
        }
        button {
          background-color: var(--orange);
          border: none;
          color: var(--primary-blue-background);
          padding: 10px 20px;
          border-radius: 10px;
          font-size: 1rem;
          cursor: pointer;
          margin-top: -10px;
        }
      }
    }
    .project:hover {
      height: 400px;

      .imgBx {
        top: -100px;
        scale: 0.75;
        box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
      }

      .showDetails {
        top: 110px;
        height: 280px;
      }
    }
  }
  @media screen and (min-width: 850px) {
    .wrapper {
      flex-direction: row;
    }
  }
}
